@import 'partials/_project';

.codeBtn {
    background: $color_orange;
    border: 0;
    color: $color_white;
    display: block;
    height: 7vh;
    line-height: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    width: 50%;
}

.calcBody {
    margin: 0 auto;
    max-width: 450px;
}
    .calcBody_display {
        background: rgba(0, 0, 0, 1);
        box-sizing: border-box;
        color: rgba(255, 255, 255, 1);
        font-size: 24px;
        height: 20vh;
        line-height: 20vh;
        overflow-x: hidden;
        padding-right: 20px;
        text-align: right;
        width: 100%;
    }

.topBtnContainer {
    width: 100%;  
}
    .topBtnContainer_clrBtn,
    .topBtnContainer_delBtn,
    .topBtnContainer_lprnBtn,
    .topBtnContainer_rprnBtn {
        height: 12vh;
        width: 25%;
    }
    .topBtnContainer_clrBtn {
        background: rgba(241, 66, 50, 1);
    }
    .topBtnContainer_delBtn {
        background: rgba(244, 143, 48, 1);
    }
    .topBtnContainer_lprnBtn,
    .topBtnContainer_rprnBtn {
        background: rgba(41, 41, 41, 1);
    }

.numBtnContainer {
    float: left;
    width: 75%;
}
    .numBtnContainer_numBtn {
        background: rgba(49, 49, 49, 1);
        height: 12vh;
        width: calc(100% / 3);
    }

    .opBtnContainer {
        float: right;
        width: 25%;
    }
    .opBtnContainer_opBtn {
        background: rgba(41, 41, 41, 1);
        height: 12vh;
        width: 100%;
    }

.s-btn {
    border: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 24px;
    padding: 0;
}