extends ./templates/_project

block heroTitle 
    | OOLO JavaScript Calculator
    
block heroImg
    img.projectHero_img(src=require("../images/calc-hero.png"))

block overview
    p I had been reading through the excellent #[emphasis.u-emphasis You Don't Know JavaScript] series and wanted to put my newly acquired knowledge to practice. Specifically, I was interested in implementing the object-oriented "Objects Linked to Other Objects" (OOLO) model. To this end, I devised a simple calculator app in which the buttons were objects linked to a calculator object.
    p In additon to using OOLO, I also created a recursive descent function to handle the parsing of any expressions entered into the calculator. This allowed for complex expressions that followed order-of-operations rules.
    a.codeBtn(href="http://codepen.io/thalpha/pen/bwNzgY", target="_blank") See the code

block goals
    li Use OOLO paradigm in modeling the calculator.
    li Create a mathematical expression parser and evaluator using a recursive descent algorithm.
    li Use only vanilla JavaScript, as opposed to jQuery, in order to better grasp the language.

block languages
    p JavaScript, HTML, CSS

block infoTitle 
    | Calculator Demo

block infoContent
    div.calcBody
        div#display.calcBody_display
        div#topBtns.clrBtnContainer
        div#numBtns.numBtnContainer
        div#opBtns.opBtnContainer